
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body:before {
	content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1; 
	background:#DDFFBC;
	background: linear-gradient(to bottom, #DDFFBC 30%, #52734D 30% 80%, #DDFFBC 80%) ;
}

body {
    
    font-family: 'MedievalSharp', cursive, 'Times New Roman', Times, serif;
    
    
}

header {
    color: #FEFFDE;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 5px;
}

#container {
    background-color: #52734D;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 80%;
    text-align: center;
  }

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

button {
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: bold;
    color: #52734D;
    background-color: #DDFFBC;
    border: #DDFFBC;
    padding: 10px;
    cursor: pointer;
}

footer {
    color: #064420;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    font-weight: bold;
}

